#clubs {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }
  
  #clubs td, #clubs th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  #clubs tr:nth-child(even){background-color: #f2f2f2;}
  
  #clubs tr:hover {background-color: #c7ecee;}
  
  #clubs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2c3e50;
    color: white;
  }